.formulario_input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
/* validacion*/
.formulario_grupo-correcto {
	color: gree;
	opacity: 1;
}
.formulario-incorrecto {
	color: red;
}

.formulario_grupo-incorrecto {
	color: red;
	opacity: 1;
}

.formulario_grupo-incorrecto  {
	border: 3px solid red;
}